@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@500;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #ff4800;
    --secundary-color: #750800;
    --third-color: #6642009f;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
   
}
.reveal{
    visibility: hidden;
}
header{
    width: 100%;
    height: 5rem;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1.25rem;
    background-color: #fff;
    box-shadow: 0rem 0.625rem 0.4375rem rgba(0, 0, 0, 0.4);
    z-index: 1000;
    overflow-x: hidden;
}
.nav-bar h1{
    font-weight: 600;
    font-size: 1.875rem;
    text-transform: uppercase;
}
.nav-bar button{
    padding: 0.625rem 3.125rem;
    border-radius: 0.625rem;
    border: none;
    border: 0.0625rem solid #000;
    color: #000;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all .3s;
    font-size: 0.9375rem;
}
.nav-bar button:hover{
    background: #000;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 0.4375rem 0.4375rem 0.4375rem rgba(0, 0, 0, 0.4);
}
main{
    height: 100%;
}
.sec-primary{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("bg1.jpg") no-repeat center/cover;
    height: 700px;
    overflow-x: hidden;
    position: relative;
}
.sec-primary .h1{
    font-size: 40px;
    color: #fff;
    z-index: 100;
}
.h12{
    font-size: 50px;
    color: #ffee00;
    z-index: 100;
}
.sec-primary p{
    color: #fff;
    width: 50%;
    margin-top: 0.625rem;
}
.content-sec{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-sec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    flex-direction: column;
}
.video-sec video{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}
.video-sec p{
    display: flex;
    width: 30%;
    justify-content: center;
}
/* ----------------------------
    responsive sec and nav
   ---------------------------*/
   @media screen and (min-width: 200px) and (max-width: 320px) {
    .nav-bar h1{
        font-size: 20px;
        margin-left: 1.875rem;
    }
    .nav-bar button{
        padding: 0.625rem 0.625rem;
        width: 100%;
    }
    .nav-bar button:hover{
        background: #000;
        letter-spacing: 0.125rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    .sec-primary{
        height: 550px;
    }
    .sec-primary .h1{
        font-size: 25px;
        color: #fff;
        margin-top: 6.25rem;
    }
    .icon-h12{
        font-size: 15px;
    }
    .h12{
        font-size: 30px;
        color: #ffee00;
    }
    .video-sec video{
        width: 220px;
        height: 250px;
    }
    .band img{
        width: 500px;
    }
   } 
   @media screen and (min-width: 321px) and (max-width: 520px) {
    .nav-bar h1{
        font-size: 1.875rem;
        display: flex;
        justify-content: center;
    }
    .nav-bar button{
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-bar button:hover{
        background: #000;
        letter-spacing: 0.125rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    .sec-primary{
        height: 600px;
    }
    .content-sec{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sec-primary .h1{
        font-size: 30px;
        color: #fff;
        margin-top: 100px;
    }
    .icon-h12{
        font-size: 20px;
    }
    .h12{
        margin-top: 0;
        font-size: 40px;
        color: #ffee00;
    }
    .video-sec{
        margin-top: 3.125rem;
    }
    .video-sec video{
        width: 250px;
        height: 250px;
    }
    .band img{
        width: 500px;
    }

   }
   @media screen and (min-width: 521px) and (max-width: 750px) {
    .nav-bar h1{
        font-size: 1.875rem;
        display: flex;
        justify-content: center;
    }
    .nav-bar button{
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-bar button:hover{
        background: #000;
        letter-spacing: 0.125rem;
    }
    .nav-bar{
        flex-direction: column;
    }
    .sec-primary{
        height: 600px;
    }
    .sec-primary .h1{
        font-size: 1.75rem;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 3.125rem;
    }
    .icon-h12{
        font-size: 25px;
        margin-top: 2%;
    }
    .h12{
        margin-top: 0;
        font-size: 35px;
        color: #ffee00;
        display: flex;
        justify-content: center;
    }
    .sec-primary p{
        font-size: 0.9375rem;
        word-wrap: break-word;
        margin-top: 1.25rem;
        margin-left: 90px;
        width: 70%;
    }
    .video-sec video{
        width: 220px;
    }

    .video-sec p{
        font-size: 0.9375rem;
        margin-left: 11.25rem;
    }
    .band img{
        width: 800px;
    }
   }
   @media screen and (min-width: 751px) and (max-width: 950px) {
    .nav-bar h1{
        font-size: 1.875rem;
        display: flex;
        justify-content: center;
    }

    .nav-bar button:hover{
        background: #000;
        letter-spacing: 0.125rem;
    }
    .sec-primary{
        height: 700px;
    }
    .sec-primary .h1{
        font-size: 38px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 3.125rem;
    }
    .icon-h12{
        font-size: 25px;
        margin-top: 2%;
    }
    .h12{
        margin-top: 0;
        font-size: 45px;
        color: #ffee00;
        display: flex;
        justify-content: center;
    }
    .sec-primary p{
        font-size: 20px;
        word-wrap: break-word;
        margin-top: 1.25rem;
        margin-left: 0px;
        width: 90%;
    }
    .video-sec video{
        width: 300px;
        height: 440px;
    }

    .video-sec p{
        font-size: 0.9375rem;
        margin-left: 250px;
    }
    }


/* carrossel*/
.secundary-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    margin-top: 50px;
    padding: 0 35px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.wrapper{
    max-width: 1100px;
    position: relative;
}
.icon{
    height: 36px;
    width: 36px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 26px;
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    border: none;
    z-index: 100;
}
.wrapper .icon:first-child{
    left: -23px;
}
.wrapper .icon:last-child{
    right: -23px;
}
.wrapper .carrossel{
    white-space: nowrap;
    font-size: 0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    cursor: pointer;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}
.carrossel img{
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
    border-radius: 10px;
}
.carrossel img:first-child{
    margin-left: 0px;
}
.h1-ap{
    font-size: 50px;
}
.h1-ap2{
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline overline 3px;
}
.h2-ap{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-decoration: underline;
}



@media screen and (min-width: 200px) and (max-width: 370px){
    .secundary-sec{
        display: block;
        margin-top: 30px;
    }
    .h1-ap{
        font-size: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .h1-ap2{
        font-size: 21px;
        text-transform: uppercase;
        text-decoration: underline overline 2px;
        display: flex;
        justify-content: center;
    }
    .h2-ap{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .carrossel img{
        width: 100%;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .carrossel img{
        width: 100%;
    }
    .h1-ap{
        font-size: 25px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .h1-ap2{
        font-size: 33px;
        text-transform: uppercase;
        text-decoration: underline overline 2px;
        display: flex;
        justify-content: center;
    }
    .h2-ap{
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 521px) and (max-width: 750px) {
    .carrossel img{
        width: calc(100% / 2);
    }
    .h1-ap{
        font-size: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .h1-ap2{
        font-size: 40px;
        text-transform: uppercase;
        text-decoration: underline overline 2px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 900px) {
    .carrossel img{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carrossel img , .carrossel img{
        width: 100%;
    }
} 

.third-sec{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: url("bg4.png") no-repeat center/cover;
    overflow-x: hidden;
}
.img-sec{
    width: 40%;
    display: flex;
    justify-content: center;
}
.img-sec img{
    width: 350px;
}
.text-third{
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-third h1{
    color: #ffee00;
    font-size: 40px;
    text-transform: uppercase;
}
.text-third p{
    font-size: 23px;
    color: #fff;
    margin-top: 20px;
    
}
.text-third button{
    padding: 1.25rem 30px;
    border-radius: 0.625rem;
    border: 0.0625rem solid #fff;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 17px;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.text-third button:hover{
    background-color: #ffee00;
    color: #000;
    letter-spacing: 1px;
    box-shadow: 0.4375rem 0.4375rem 0.4375rem rgba(0, 0, 0, 0.4);
    border: none;
}
@media screen and (min-width: 200px) and (max-width: 370px){
    .third-sec{
        flex-direction: column;
        overflow: hidden;
        height: 900px;
        background-size: 1400px 900px;
        background-position: -300px;
    }
    .img-sec{
        margin-top: 0px;
        width: 100%;
    }
    .img-sec img{
        width: 200px
    }
    .text-third{
        margin-top: 20px;
        width: 100%;
    }
    .text-third h1{
        font-size: 22px;
        align-items: center;
        margin-left: 5%;
    }
    .text-third p{
        font-size: 18px;
        margin-left: 5%;
        width: 90%;
    }
    .text-third button{
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 20px;
        width: 90%;
        margin-right: 0;
        margin-left: 5%;
        color: #fff;
        border:1px solid #fff;
    }
    .text-third button:hover{
        letter-spacing: 0;
        border:1px solid #000;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .third-sec{
        flex-direction: column;
        overflow: hidden;
        height: 850px;
        height: 900px;
        background-size: 1100px 850px;
        background-position: -200px;
    }
    .img-sec{
      
        width: 100%;
    }
    .img-sec img{
        width: 200px;

    }
    .text-third{
        margin-top: 20px;
        width: 100%;
    }
    .text-third h1{
        font-size: 25px;
        align-items: center;
        margin-left: 5%;
    }
    .text-third p{
        font-size: 19px;
        margin-left: 2%;
        width: 90%;
    }
    .text-third button{
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 20px;
        width: 90%;
        margin-right: 0;
        margin-left: 5%;
        color: #fff;
        border:1px solid #fff;
    }
    .text-third button:hover{
        letter-spacing: 0;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    .third-sec{
        flex-direction: column;
        overflow: hidden;
        height: 700px;
        background-position: -300px;
    }
    .img-sec{

        width: 100%;
    }
    .img-sec img{
        width: 200px;

    }
    .text-third{
        margin-top: 20px;
        width: 100%;
    }
    .text-third h1{
        font-size: 20px;
        align-items: center;
        margin-left: 5%;
    }
    .text-third p{
        font-size: 20px;
        margin-left: 2%;
        width: 90%;
    }
    .text-third button{
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 20px;
        width: 90%;
        margin-right: 0;
        margin-left: 5%;
        color: #fff;
        border:1px solid #fff;
    }
    .text-third button:hover{
        letter-spacing: 0;
    }
}
@media screen and (min-width: 761px) and (max-width: 1053px){
    .third-sec{
        height: 700px;
    }
    .img-sec{
        margin-top: 70px;
        width: 40%;
    }
    .img-sec img{
        width: 200px;

    }
    .text-third{
        margin-top: 20px;
        width: 60%;
    }
    .text-third h1{
        font-size: 30px;
        align-items: center;
        margin-left: 5%;
    }
    .text-third p{
        font-size: 20px;
        margin-left: 2%;
        width: 90%;
    }
    .text-third button{
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 20px;
        width: 90%;
        margin-right: 0;
        margin-left: 5%;
        color: #fff;
        border:1px solid #fff;
    }
}

.fourth-sec{
    width: 100%;
    background: url("logo bolos.png") no-repeat center/cover;
    background-size: 60%;
    object-fit: cover;
    height: 450px;
    background-attachment: fixed;
}
.fiv-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 700px;
    overflow-x: hidden;
}
.fiv-sec h1{
    margin-top: 90px;
    font-size: 50px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg5.png");
    color: #fff;
}
.cards1-sec{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}
.cards1-sec.cards1-off{
    display: none;
}
.cards2-sec{
    display: none;
}
.cards2-sec.cards2-on{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.card{
    overflow: hidden;
    background: #ffee00;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 13px 15px 15px rgba(0, 0, 0, 0.4);
    transition: all .2s;
}
.card:hover{
    background-color: #959701;
    color: #fff;
}
.card img{
    width: 220px;
    height: 200px;
    border-radius: 0px 30px 0px 30px;
    object-fit: cover;
}
.card h2{
    margin-top: 10px;
    font-size: 30px;
}
@media screen and (min-width: 200px) and (max-width: 370px){
    .fourth-sec{
        background-size: 100%;
    }
    .fiv-sec{
        height: 900px;
    }
    .fiv-sec h1{
        font-size: 22px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;        
        margin: 50px 0 0 0;
    }
    .card h2{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 150px;
        height: 150px;
    }
    .cards1-sec , .cards2-sec.cards2-on{
        flex-direction: column;
    }
    .card{
        width: 200px;
        height: 220px;
        margin-top: 20px;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .fourth-sec{
        background-size: 100%;
    }
    .fiv-sec{
        height: 100%;
    }
    .fiv-sec h1{
        font-size: 25px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;        
        margin: 50px 0 0 0;
    }
    .card h2{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 200px;
        height: 200px;
    }
    .cards1-sec , .cards2-sec.cards2-on{
        flex-direction: column;
    }
    .card{
        width: 250px;
        height: 270px;
        margin-top: 20px;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    .fourth-sec{
        width: 100%;
        background-size: 100%;
        height: 300px;
        background-size: 100%;
    }
    .fiv-sec{
        height: 100%;
    }
    .fiv-sec h1{
        font-size: 40px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;        
        margin: 50px 0 0 0;
    }
    .card h2{
        font-size: 23px;
        
    }
    .card img{
        width: 200px;
        height: 200px;
    }
    .cards1-sec , .cards2-sec.cards2-on{
        flex-direction: column;
    }
    .card{
        width: 250px;
        height: 280px;
        margin-top: 20px;
    }
}
@media screen and (min-width: 761px) and (max-width: 1053px){
    .fourth-sec{
        height: 300px;
        background-size: 100%;
    }
    .fiv-sec{
        height: 100%;
    }
    .fiv-sec h1{
        font-size: 40px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;        
        margin: 50px 0 0 0;

    }
    .card h2{
        font-size: 22px;
    }
    .card img{
        width: 200px;
        height: 200px;
    }
    .card{
        width: 250px;
        height: 270px;
        margin-top: 20px;
    }
}

.sixty-sec{
    background: url("bg2.png") no-repeat center/cover;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.sixty-sec h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: #ffee00;
}
.sixty-sec p{
    font-size: 23px;
    width: 70%;
    margin-left: 15%;
    color: #fff;
}
.sixty-sec p:not(:first-child){
    margin-top: 10px;
}
.sixty-sec button{
    padding: 1.25rem 30px;
    border-radius: 0.625rem;
    border: 0.0625rem solid #fff;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 15px;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.sixty-sec button:hover{
    background-color: transparent;
    color: #ffee00;
    letter-spacing: 1px;
    box-shadow: 0.4375rem 0.4375rem 0.4375rem rgba(0, 0, 0, 0.4);
    border: 1px solid #ffee00;
}
@media screen and (min-width: 200px) and (max-width: 370px){
    .sixty-sec{
        margin-top: 50px;
        height: 600px;
        background-size:1200px 100%;
    }
    .sixty-sec h1{
        font-size: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
    .sixty-sec p{
        word-wrap: break-word;
        margin-left: 5%;
        font-size: 18px;
        width: 90%;
        margin-top: 10px;
    }
    .sixty-sec button{
        margin-right: 0;
    }
    .sixty-sec button:hover{
        letter-spacing: 0;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .sixty-sec{
        margin-top: 50px;
        height: 700px;
        background-size: 1200px 100%;
    }
    .sixty-sec h1{
        font-size: 45px;
        width: 100%;
        margin-left: 10%;
    }
    .sixty-sec p{
        word-wrap: break-word;
        margin-left: 5%;
        margin-top: 10px;
        width: 90%;
    }
    .sixty-sec button{
       margin-right: 0;
    }
    .sixty-sec button:hover{
        letter-spacing: 0;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    .sixty-sec{
        margin-top: 50px;
        height: 600px;
        background-size: 1200px 100%;
    }
    .sixty-sec h1{
        font-size: 45px;
        width: 100%;
        margin-left: 10%;
    }
    .sixty-sec p{
        word-wrap: break-word;
        margin-left: 5%;
        margin-top: 10px;
        width: 90%;
    }
    .sixty-sec button{
        margin-top: 40px;
        margin-right: 0;
    }
    .sixty-sec button:hover{
        letter-spacing: 0;
    }
}
@media screen and (min-width: 761px) and (max-width: 820px){
    .sixty-sec{
        height: 600px;
        margin-top: 50px;
        background-size: 1400px 100%;
    }
    .sixty-sec h1{
        font-size: 55px;
        width: 100%;
        margin-left: 15%;
    }
    .sixty-sec p{
        font-size: 27px;
    }
}

.sec-client{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
}
.sec-client h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 40px;
}
.card-clients1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-clients1.client-off{
    display: none;
}
.card-client1{
    width: 400px;
}
.card-client img{
    width: 500px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .3s;
}
.card-clients2{
    display: none;
}
.card-clients2.client-on{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-client img:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 200px) and (max-width: 370px){
    .sec-client{
        height: 450px;
    }
    .card-clients1 , .card-clients2{
        flex-direction: column;
    }
    .card-client img{
        width: 270px;
        height: 50px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sec-client h1{
        font-size: 22px;
        margin-top: 20%;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .sec-client{
        height: 550px;
    }
    .card-clients1 , .card-clients2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-client img{
        width: 350px;
        height: 70px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sec-client h1{
        font-size: 30px;
        margin-top: 20%;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    .sec-client{
        height: 550px;
    }
    .card-clients1 , .card-clients2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-client img{
        width: 450px;
        height: 90px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sec-client h1{
        font-size: 35px;
        margin-top: 20px;
    }
}
@media screen and (min-width: 761px) and (max-width: 910px){
    .sec-client{
        height: 700px;
    }
    .card-client img{
        width: 370px;
        height: 90px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sec-client h1{
        font-size: 40px;
        margin-top: 20%;
    }
}


.pagamento{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background: #ffee00;
    background-size: 100%;
}
.pagamento h1{
    font-size: 70px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.card-sec-pag{
    width: 40%;
    height: 400px;
    background: #ffffff57;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.4) ,  -3px -3px  10px rgba(0, 0, 0, 0.4);
}
.card-sec-pag h2{
    margin-top: 50px;
}
.card-sec-pag h1{
    font-size: 40px;
}
.card-sec-pag h2:first-child{
    font-size: 30px;
    text-decoration: line-through;
}
.card-sec-pag img{
    width: 100px;
    height: 120px;
}
.card-sec-pag button{
    padding: 1.25rem 30px;
    border-radius: 0.625rem;
    border: 0.0625rem solid #fff;
    color: #000;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 17px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -1px 10px rgba(0, 0, 0, 0.4);
}
.card-sec-pag a{
    padding-bottom: 30px;
    padding-right: 120px;
    margin-left: 22%;
    position: relative;
}
.card-sec-pag a::before{
    content: 'oportunidade unica!';
    background-color: rgba(255, 0, 0, 0.767);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.card-sec-pag button:hover{
    background: #000;
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 0.4375rem 0.4375rem 0.4375rem rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
}
.card-sec-pag h3{
    font-size: 25px;
    margin-top: 30px;
}
.pag-icons{
    height: 340px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
@media screen and (min-width: 200px) and (max-width: 370px){
    .pagamento{
        background-size: 500px 100%;
    }
    .pagamento h1{
        font-size: 24px;
    }
    .card-sec-pag{
        width: 90%;
    }
    .card-sec-pag img{
        width: 70px;
        height: 80px;
    }
    .card-sec-pag a{
        padding-bottom: 40px;
        padding-right: 55px;
        margin-left: 22%;
        position: relative;
    }
    .card-sec-pag a::before{
        content: 'oportunidade unica!';
        background-color: rgba(255, 0, 0, 0.767);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 120px;
        padding: 5px;
        border-radius: 10px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    .pagamento{
        background-size: 600px 100%;
    }
    .pagamento h1{
        font-size: 30px;
    }
    .card-sec-pag{
        width: 90%;
    }
    .card-sec-pag img{
        width: 70px;
        height: 80px;
    }
    .card-sec-pag a{
        padding-bottom: 40px;
        padding-right: 55px;
        margin-left: 22%;
        position: relative;
    }
    .card-sec-pag a::before{
        content: 'oportunidade unica!';
        background-color: rgba(255, 0, 0, 0.767);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 120px;
        padding: 5px;
        border-radius: 10px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    .pagamento{
        background-size: 600px 100%;
    }
    .pagamento h1{
        font-size: 40px;
    }
    .card-sec-pag{
        width: 90%;
    }   

}
@media screen and (min-width: 761px) and (max-width: 1053px){
    .card-sec-pag{
        width: 70%;
        margin-top: 20px;
    }
    .card-sec-pag h2{
        font-size: 30px;
    }
}

footer{
    background-color: #000;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}
footer h1{
    color: #fff;
}
.content-footer{
    color: #fff;

}
.content-footer .icon-footer{
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s;
}
.content-footer a{
    color: #fff;
}
.content-footer .icon-footer:hover{
    padding: 5px;
}

@media screen and (min-width: 200px) and (max-width: 370px){
    footer{
        flex-direction: column;
    }
    footer h1{
        font-size: 22px;
    }
    .content-footer{
        margin-top: 30px;
        display: flex;
    }
}
@media screen and (min-width: 371px) and (max-width: 520px){
    footer{
        flex-direction: column;
    }
    footer h1{
        font-size: 25px;
    }
    .content-footer{
        margin-top: 30px;
        display: flex;
    }
}
@media screen and (min-width: 521px) and (max-width: 760px){
    footer{
        flex-direction: column;
    }
    footer h1{
        font-size: 35px;
    }
    .content-footer{
        margin-top: 30px;
        display: flex;
    }
}
@media screen and (min-width: 761px) and (max-width: 1053px){
    footer{
        flex-direction: column;
    }
    footer h1{
        font-size: 40px;
    }
    .content-footer{
        margin-top: 30px;
        display: flex;
    }
    .content-footer .icon-footer{
        font-size: 50px;
        margin-right: 30px;
    }
}